<section class="content-header">
    <h1>Notifications</h1>
    <p>Vous avez <%= @notifications.count %> notification(s)</p>
    <% if @notifications.count > 0 %>
        <p><a href="../../admin/mark-as-read" class="btn btn-info">Tout marquer comme lu</a></p></br>
    <% end %>
</section>
<section class="content">
    <div>
        <% @notifications.limit(5).each do | notif | %>
            <div class="well">
                <% if notif.message == "Suppression de Projet" %>
                  <a>
                    <i class="fa fa-users text-aqua"></i>
                    <strong><%= notif.message %></strong> : <%= notif.notifiable_type %>
                     par <%= User.find(notif.sender_id).username %>
                  </a>
                <% elsif notif.message == "Nouveau Projet" %>
                  <a href= <%= "/#{notif.notifiable_type.downcase}s/#{notif.notifiable_id}" %> >
                    <i class="fa fa-users text-aqua"></i>
                    <strong><%= notif.message %></strong> : <%= notif.notifiable.name %>
                     par <%= User.find(notif.sender_id).username %>
                  </a>  
                <% else %>
                  <a href= <%= "/#{notif.notifiable_type.downcase}s/#{notif.notifiable_id}" %> >
                    <i class="fa fa-users text-aqua"></i>
                    <strong><%= notif.message %></strong> sur <%= notif.notifiable.name %>
                     par <%= User.find(notif.sender_id).username %>
                  </a>  
                <% end %>
            </div>
        <% end %>
    </div>
</section>