<section class="content-header">
  <h1>
    Sondages
    <small>Liste</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li class="active">Sondages</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Liste de mes sondages</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="surveysListe" class="table table-hover table-striped table-responsive table-condensed no-margin">
            <thead>
              <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @surveys.each do | survey | %>
              <tr>
                <td><%= survey.id %></td>
                <td><%= survey.title%></td>
                <td><%= truncate(survey.description.html_safe, length: 50, separator: ' ') %></td>
                <td><%= time_tag(survey.start_at)%></td>
                <td><%= time_tag(survey.end_at)%></td>
                <td>
                  <%= link_to "<i class='fa fa-eye'></i>".html_safe, admin_survey_path(survey.id), class: "btn btn-success" %>
                  <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_admin_survey_url(survey.id), class: "btn btn-warning" %>
                  <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, admin_survey_url(survey.id), class: "btn btn-danger", method: "delete" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->
<script>
  $(document).ready(function(){
    $('#surveysListe').DataTable({
            "responsive": true,
            "sScrollX": "100%", // retrait de la barre de scroll horizontale en responsive
            "language": { // mise en Français du pluggin.
                "sProcessing": "Traitement en cours...",
                "sSearch": "Rechercher&nbsp;:",
                "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "sInfoPostFix": "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                "oPaginate": {
                    "sFirst": "Premier",
                    "sPrevious": "Pr&eacute;c&eacute;dent",
                    "sNext": "Suivant",
                    "sLast": "Dernier"
                },

                "oAria": {
                    "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                }
            },
            "pageLength": 25, // Affichage de 100 éléments de base au chargement de la page
            "lengthMenu": [ [25, 50, 100, 1000, -1], [25, 50, 100, 1000, "tous les"] ], // Changement du menu de base pour la sélection de l'affichage du nombre d'éléments : [nombres d'éléments à afficher] [libellés]
            "order": [[1, 'asc']]
        });
  });
</script>
