<section class="content-header">
  <h1>
    Articles
    <small>Mes articles</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li><a href="#">Articles</a></li>
    <li class="active">Mes articles</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Liste de mes articles</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="articlesListe" class="table table-hover table-striped table-responsive table-condensed no-margin">
            <thead>
              <tr>
                <th>#</th>
                <th>En ligne?</th>
                <th>Categorie</th>
                <th>Titre</th>
                <th>Création</th>
                <th>Publication</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @articles.each do | article | %>
              <tr>
                <td style="line-height:48px;"><%= article.id %></td>
                <td style="line-height:48px;">
                  <%= form_tag admin_articlepublish_url do %>
                    <%= hidden_field_tag "id", article.id %>
                    <% if article.published %>
                      <%= submit_tag "Oui", class: "btn btn-success" %>
                    <% else %>
                      <%= submit_tag "Non", class: "btn btn-danger" %>
                    <% end %>
                  <% end %>
                </td>
                <td style="line-height:48px;"><%= article.category.name %></td>
                <td style="line-height:48px;"><%= article.name %></td>
                <td style="line-height:48px;"><%= time_tag(article.created_at) %></td>
                <td style="line-height:48px;"><%= (article.published_at) ? time_tag(article.published_at) : '' %></td>
                <td style="line-height:48px;">
                  <%= link_to '<i class="fa fa-facebook" aria-hidden="true"></i>'.html_safe, admin_redirectToFacebook_url(article.id), class: 'btn btn-primary', method: 'post'%>
                  <%= link_to "<i class='fa fa-eye'></i>".html_safe, article_url(article.friendly_id), class:'btn btn-success'%>
                  <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_admin_article_url(article.friendly_id), class:'btn btn-warning'%>
                  <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, admin_article_url(article.friendly_id), method: "delete", class:'btn btn-danger'%>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
      <style type= "text/css">
        th, td {
          text-align: center;
        }
      </style>
      <script type="text/javascript">
        $(document).ready(function(){
          $('#articlesListe').DataTable({
                  "responsive": true,
                  "sScrollX": false, // retrait de la barre de scroll horizontale en responsive
                  "language": { // mise en Français du pluggin.
                      "sProcessing": "Traitement en cours...",
                      "sSearch": "Rechercher&nbsp;:",
                      "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                      "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                      "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                      "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                      "sInfoPostFix": "",
                      "sLoadingRecords": "Chargement en cours...",
                      "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                      "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                      "oPaginate": {
                          "sFirst": "Premier",
                          "sPrevious": "Pr&eacute;c&eacute;dent",
                          "sNext": "Suivant",
                          "sLast": "Dernier"
                      },

                      "oAria": {
                          "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                          "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                      }
                  },
                  "pageLength": 25, // Affichage de 100 éléments de base au chargement de la page
                  "lengthMenu": [ [25, 50, 100, 1000, -1], [25, 50, 100, 1000, "tous les"] ], // Changement du menu de base pour la sélection de l'affichage du nombre d'éléments : [nombres d'éléments à afficher] [libellés]
                  "order": [[1, 'asc']],
              });
        });
      </script>
    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->
