<% @articles.each do | article | %>
  <h1><%= link_to article.title, article_path( article.friendly_id )%></h1>
  <p>
    <%= article.content %>
  </p>
  <ul>
    <li>Créé le:  <%= article.published_at %></li>
    <li>Auteur:   <%= article.author.username %></li>
    <li>Catégorie: <%= article.category.name %></li>
  </ul>
<% end %>

  <%= will_paginate @articles %>
