<%
meta title: "Meusetech - Accueil",
     description: "Pour aider les entreprises, le développement des services à la personne, la valorisation et la préservation de l’environnement du Pays de Verdun... ",
     keywords: ["Meusetech", "Home",  'Accueil']
%>
<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12"  style="margin:0; padding:0;">
            <div class="owl-carousel">
              <div class="item">
                <%= image_tag( "982D2F26.jpeg",  alt: "image article")%>
                <div class="carousel-captions">
                  <h2>MeuseTECH</h2>
                  <h4>Terre d'innovations</h4>
                  <a href="#" class="btn btn-primary">En savoir plus</a>
                </div>
              </div>
              <div class="item">
                <%= image_tag( "982D2F26.jpeg",  alt: "image article")%>
                <div class="carousel-captions">
                  <h2>Valentin</h2>
                  <h4>Terre d'innovations</h4>
                  <a href="#" class="btn btn-primary">En savoir plus</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="interaction">
      <div class="container">
        <div class="row"  id="interactionContainer">
          <div class="interaction-one col-md-4 col-sm-12" id="MainSigneBlock">
            <a href="#"  class="interaction-img" >
              <%= inline_svg("svg/Sinscrire.svg") %>

            <h2>Je m'inscris</h2></a>
            <p class="hidden-xs">
              Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
              Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
              quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
            </p>
          </div>
          <div class="interaction-one col-md-4 col-sm-12" id="DepotProjetBlock">
            <a href="#"  class="interaction-img">
              <%= inline_svg("svg/DepotProjet.svg") %>

            <h2>Je dépose un projet</h2></a>
            <p class="hidden-xs">
              Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
              Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
              quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
            </p>
          </div>
          <div class="interaction-one col-md-4 col-sm-12" id="SondageBlock">
            <a href="#"  class="interaction-img">
              <%= inline_svg("svg/Sondage.svg") %>

            <h2>Je participe à un sondage</h2></a>
            <p class="hidden-xs">
              Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
              Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
              quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
            </p>
          </div>
        </div>
      </div>

    </section>
    <section id="newsletter">
      <div class="container">
        <div class="row">
          <div id="newsBlock-repere">
            <div id="newsBlock">
              <div id="newsBlock-content">
                <%= image_tag( "letter.png",  alt: "image article",  size: "125x255" ,  class: "hidden-sm hidden-xs")%>
                <h4>Inscrivez-vous à notre newsletter</h4>
                <a href="#" class="btn btn-primary btn-lg">En savoir plus</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="projets">
      <div class="container">
        <div class="row">
          <div class="projets_block-title">
            <h1>Projets déjà en ligne</h1>
            <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression</p>
          </div>
        </div>
        <div class="row">
          <div class="projets_navs">
            <div class="col-xs-6" >
              <i class="fa fa-map-signs hidden-xs" aria-hidden="true"></i>
              <a href="#" class="btn btn-projets">Les plus récents</a>
            </div>
            <div class="col-xs-6">
              <i class="fa fa-map-signs hidden-xs" aria-hidden="true"></i>
              <a href="#" class="btn btn-projets">Les plus commentés</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="projets_content">
            <div class="last">
              <% @last_projects.each_with_index do | lastProject, index | %>
              <% if index < 3 %>
                <div class="col-xs-12 col-md-4">
                  <article class="projet-one">
                    <div class="col-xs-2">
                      <%= image_tag( lastProject.category.icon,  alt: "icone projet")%>
                    </div>
                    <div class="col-xs-10">
                      <%= link_to image_tag( lastProject.thumb,  alt: "image article") , project_path( lastProject.friendly_id )%>
                    </div>
                    <div class="projet-one_desc">
                      <h2><%= link_to lastProject.name , project_path( lastProject.friendly_id )%></h2>
                      <h4><%= lastProject.owner.first_name %> <%= lastProject.owner.last_name %></h4>
                      <p class="hidden-xs hidden-sm  hidden-md ">
                      <%=  truncate(lastProject.content, :length => 180, :omission => "" , :escape => false) %>
                      </p>
                      <div class="projet-one_time">
                        le 15 juillet 2015
                      </div>
                      <%= link_to "Voir le projet", project_path( lastProject.friendly_id ),  class:"btn btn-primary btn-projet"%>
                    </div>
                  </article>
                </div>
                <% end %>
              <% end %>
            </div>
            <div class="commented"  style="display: none;">
              <%@most_active_projects.each_with_index do | lastProject, index | %>
                <% if index < 3 %>
                <div class="col-xs-12 col-md-4">
                  <article class="projet-one">
                    <div class="col-xs-2">
                      <%= image_tag( lastProject.category.icon,  alt: "icone projet")%>
                    </div>
                    <div class="col-xs-10">
                      <%= link_to image_tag( lastProject.thumb,  alt: "image article") , project_path( lastProject.friendly_id )%>
                    </div>
                    <div class="projet-one_desc">
                      <h2><%= link_to lastProject.name , project_path( lastProject.friendly_id )%></h2>
                      <h4><%= lastProject.owner.first_name %> <%= lastProject.owner.last_name %></h4>
                      <p class="hidden-xs hidden-sm  hidden-md ">
                      <%=  truncate(lastProject.content, :length => 180, :omission => "" , :escape => false) %>
                      </p>
                      <div class="projet-one_time">
                        le 15 juillet 2015
                      </div>
                      <%= link_to "Voir le projet", project_path( lastProject.friendly_id ),  class:"btn btn-primary btn-projet"%>
                    </div>
                  </article>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="socials">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-5" id="oiseauMT">
            <%= inline_svg("svg/OiseauMT.svg") %>
          </div>
          <div class="col-xs-7" id="PanneauReseauxSociaux">
            <div class="row">
              <div class="col-xs-6" style="    height: 65vh;">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmeusetech%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&708003905969064" width="340" height="65vh" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

              </div>
              <div class="col-xs-6" style="    height: 65vh;">
                <a class="twitter-timeline" data-lang="fr" data-height="65vh" data-width="340" data-link-color="#FAB81E" href="https://twitter.com/meusetech">Tweets by meusetech</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section id="partenaires">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-offset-5 col-xs-7">
            <div class="owl-carousel2">
              <div class="item">
                <%= image_tag( "logo/gest-numerique.png",  alt: "image article")%>
              </div>
              <div class="item">
                <%= image_tag( "logo/Logo_Leader.png",  alt: "image article")%>
              </div>
              <div class="item">
                <%= image_tag( "logo/logo_numeripole.png",  alt: "image article")%>
              </div>
              <div class="item">
                <%= image_tag( "logo/Logo_UE_FEADER.png",  alt: "image article")%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
