<% @projects.each do | project | %>
  <h1><%= link_to project.name, project_path( project.friendly_id )%></h1>
  <p>
    <%= project.content %>
  </p>
  <ul>
    <li>Créé le:  <%= project.created_at %></li>
    <li>Auteur:   <%= project.owner.username %></li>
    <li>Catégorie: <%= project.category.name %></li>
  </ul>
<% end %>

<%= link_to 'Créer un nouveau projet', new_project_path, class: "btn btn-info" %>