<%
meta title: "Meusetech - Statistiques de #{@survey.title}",
     description: @survey.description,
     keywords: ["Meusetech", "sondages",  @survey.title, 'Statistiques']
%>

<%= javascript_include_tag "admin/template/plugins/chartjs/Chart.min" %>
<%= javascript_include_tag "surveys/stats" %>

<div class="container" id="poll-list" style="margin-bottom:75px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="block">
        <div class="block-title">
          <h2>Statistiques: <%= @survey.title %></h2>
        </div>
        <div class="block-content">
          <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
              <h4>Suivis des utilisateurs</h4>
              <canvas id="UserChart" data-responded="<%= @usersResponded.size %>" data-total = "<%= @userTotal %>" ></canvas>
            </div>
            <div class="col-xs-12">
              <% @a = 0 %>
              <% @statsResponse.each do | response | %>
                <div class="col-xs-4">
                <h4><%= response[:question] %></h4>
                <canvas id="Charts<%= @a %>" ></canvas>
                 <script>
                 var Chart<%= @a %>, ChartCanvas<%= @a %>, Data<%= @a %>, Options<%= @a %>;
                 ChartCanvas<%= @a %> = $("#Charts<%= @a %>")[0].getContext("2d");
                 Chart<%= @a %> = new Chart(ChartCanvas<%= @a %>);
                 Data<%= @a %> = [
                   <% response[:rsp].each do | rsp | %>
                   <% color = rand(111111..999999) %>
                   {
                     value: <%= rsp[:responded].to_i  %>,
                     color: "#<%= color %>",
                     highlight: "#<%= color %>",
                     label: "<%= rsp[:response] %>"
                   },
                   <% end %>
                 ]
                 Options<%= @a %> = {
                   segmentShowStroke: true,
                   segmentStrokeColor: "#fff",
                   segmentStrokeWidth: 2,
                   percentageInnerCutout: 50,
                   animationSteps: 100,
                   animationEasing: "easeOutBounce",
                   animateRotate: true,
                   animateScale: false,
                   responsive: true,
                   maintainAspectRatio: true,
                 };
                 Chart<%= @a %>.Doughnut(Data<%= @a %>, Options<%= @a %>);
                 </script>
                 <% @a += 1 %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <p>
                Obtenir les résultats de l'enquête en pdf : <a href="<%= @survey.pdf_file %>" class="btn btn-info fa fa-file-pdf-o"> Télécharger </a>
              </p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
