<section class="content-header">
  <h1>
    Les membres inscrits
  </h1>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Liste des membres</h3>
        </div>
        <div class="box-body">
          <table id="usersTable" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Membre</th>
                <th>E-mail</th>
                <th>Ville</th>
                <th>Date Enregistrement</th>
                <th>Droits comment. ?</th>
                <th>Nombre Projets</th>
                <th>Nombre Comment</th>
                <th>Banni ?</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= image_tag user.avatar, width: "40px",class:"user-image img-circle", height: "40px" %> <%= user.username %></td>
                  <td><%= user.email %></td>
                  <td><%= user.city %></td>
                  <td><%= time_tag(user.created_at) %></td>
                  <td>
                    <%= form_tag admin_usercancomment_url do %>
                      <%= hidden_field_tag "id", user.id %>
                      <% if user.can_comment %>
                        <%= submit_tag "Oui" %>
                      <% else %>
                        <%= submit_tag "Non" %>
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= user.projects.size %></td>
                  <td><%= user.comments.size %></td>
                  <td>
                    <%= form_tag admin_userban_url do %>
                      <%= hidden_field_tag "id", user.id %>
                      <% if user.is_banned %>
                        <%= submit_tag "Oui" %>
                      <% else %>
                        <%= submit_tag "Non" %>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to "<i class='fa fa-eye'></i>".html_safe, admin_user_url(user.id), class: "btn btn-success" %>
                    <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_admin_user_url(user.id), class: "btn btn-warning" %>
                    <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, admin_user_url(user.id), :method=> :delete, class: "btn btn-danger"%>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="csv_export">
            <%= link_to (image_tag "export_csv.png", alt: "exporter en csv", height: "50px"), admin_userexport_url(format: :csv)  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
