<header class="main-header">
  <!-- Logo -->
  <%= link_to "<span class='logo-mini'><b>M</b>TK</span><span class='logo-lg'><b>Meuse</b>Tech</span>".html_safe, root_url,  class: "logo" , data: { turbolinks: 'false' }  %>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="../../admin/mark-as-read" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <% if @notifications.count > 0 %>
              <span class="label label-warning"><%= @notifications.count %></span>
            <% end %>
          </a>
          <ul class="dropdown-menu">
            <% if @notifications.count > 0 %>
              <li class="header">Vous avez <%= @notifications.count %> notification(s)</li>
              <li><a href="../../admin/mark-as-read">Tout marquer comme lu</a></li>
            <% else %>
              <li class="header">Aucune notification</li>
            <% end %>
            <li>

              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <% @notifications.limit(5).each do | notif | %>
                <li>
                    <% if notif.message == "Nouveau Commentaire" || notif.message == "Validation du Commentaire" || notif.message == "Nouveau Commentaire en attente de validation" %>
                        <% if notif.message == "Nouveau Commentaire en attente de validation" %>
                          <%= link_to "<i class='fa fa-users text-aqua'></i>#{notif.message} sur #{notif.notifiable.commentable.name}</br> par #{User.find(notif.sender_id).username}".html_safe, admin_comments_url %>
                        <% else %>
                          <a href= <%= "/#{notif.notifiable.commentable_type.downcase}s/#{notif.notifiable.commentable_id}" %> >
                            <i class="fa fa-users text-aqua"></i>
                              <%= notif.message %> sur <%= notif.notifiable.commentable.name %>
                            </br> par <%= User.find(notif.sender_id).username %>
                          </a>
                        <% end %>
                    <% elsif notif.message == "Suppression de Projet" %>
                      <a>
                        <i class="fa fa-users text-aqua"></i>
                        <%= notif.message %> : <%= notif.notifiable_type %>
                        </br> par <%= User.find(notif.sender_id).username %>
                      </a>
                    <% elsif notif.message == "Nouveau Projet" %>
                      <a href= <%= "/#{notif.notifiable_type.downcase}s/#{notif.notifiable_id}" %> >
                        <i class="fa fa-users text-aqua"></i>
                        <%= notif.message %> : <%= notif.notifiable.name %>
                        </br> par <%= User.find(notif.sender_id).username %>
                      </a>
                      <% elsif notif.message == "Nouvelle souscription à la Newsletter" %>
                        <%= link_to "<i class='fa fa-users text-aqua'></i>#{notif.message}".html_safe, admin_newsletters_url %>
                      <% elsif notif.message == "Nouvel utilisateur" %>
                        <a href= <%= "/admin/#{notif.notifiable_type.downcase}s/#{notif.notifiable_id}" %> >
                            <i class="fa fa-users text-aqua"></i>
                              <%= notif.message %>
                        </a>
                    <% else %>
                      <a href= <%= "/#{notif.notifiable_type.downcase}s/#{notif.notifiable_id}" %> >
                        <i class="fa fa-users text-aqua"></i>
                        <%= notif.message %> sur <%= notif.notifiable.name %>
                        </br> par <%= User.find(notif.sender_id).username %>
                      </a>
                    <% end %>
                </li>
                <% end %>
              </ul>
            </li>
            <li class="footer"><a href="../../admin/notifications">Tout voir</a></li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag current_user.avatar , width: "160px",class:"user-image img-circle",  height: "160px",  alt: "User Image" %>
            <span class="hidden-xs"><%= current_user.username%></span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <%= image_tag current_user.avatar , width: "160px",class:"user-image img-circle",  height: "160px",  alt: "User Image" %>
              <p>
                <%= current_user.username%>
                <small>Membre depuis <%= time_ago_in_words current_user.created_at %></small>
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <%= link_to "Profile", admin_user_path(current_user.id), id:"btn btn-default btn-flat"  %>
              </div>
              <div class="pull-right">
                <%= link_to "<i class='fa fa-power-off' aria-hidden='true'></i> Deconnexion".html_safe, destroy_user_session_path, :method => :delete, class: "btn btn-default btn-flat" %>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
