<%= stylesheet_link_tag 'front/user/infos', media: 'all', 'data-turbolinks-track' => true %>
<div class="row">
  <div class="col-sm-12">
    <div id="user-block_title">
      <h1>Mes commentaires</h1>
    </div>
    <div class="block" id="user-block_content">
      <div class="block-content">
        <table class="table table-hovered">
          <thead>
            <tr>
              <th>
                Sujet
              </th>
              <th>
                Date
              </th>
              <th>
                Commentaire
              </th>
              <th>
                Validé?
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <% @comments.each do | comment |  %>
              <tr>
                <td>
                  <% @anchor = "commentnb#{comment.id}" %>
                  <%= link_to comment.commentable.name, polymorphic_url(comment.commentable_type.tableize.singularize, :id => comment.commentable_id, :anchor => @anchor) %>
                </td>
                <td>
                  <%= time_tag(comment.created_at ,  format: "%d %b %y"  ) %>
                </td>
                <td>
                  <%= comment.content %>
                </td>
                <td>
                  <% if comment.is_valid %>
                    <%= "Oui" %>
                  <% else %>
                    <%= "Non" %>
                  <% end %>
                </td>
                <td>
                  <% if comment.commentable_type == "Article" %>
                    <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_article_comment_path(comment.commentable_id, comment.id), class: "btn btn-warning" %>
                    <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, article_comment_path(comment.commentable_id, comment.id), :method => 'delete', class: "btn btn-danger" %>
                  <% else %>
                    <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_project_comment_path(comment.commentable_id, comment.id), class: "btn btn-warning" %>
                    <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, project_comment_path(comment.commentable_id, comment.id), :method => 'delete', class: "btn btn-danger" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
