<h1>Notifications</h1>
<section class="content-header">
  <% if @notifications.count > 0 %>
    <p>Vous avez <%= @notifications.count %> notification(s)</p>
    <p><%= link_to "Tout marquer comme lu".html_safe, users_Readed_url, class: "btn btn-info" %></p>
  <% else %>
    <p>Vous n'avez aucune notification</p>
  <% end %>
</section>
<section class="content">
    <div>
        <% @notifications.limit(5).each do | notif | %>
            <div class="well">
                <% if notif.message == "Suppression de Projet" %>
                  <a>
                    <i class="fa fa-users text-aqua"></i>
                    <strong><%= notif.message %></strong> : <%= notif.notifiable_type %>
                     par <%= User.find(notif.sender_id).username %>
                  </a>
                <% elsif notif.message == "Nouveau Projet" %>
                  <a href= <%= "/#{notif.notifiable_type.downcase}s/#{notif.notifiable_id}" %> >
                    <i class="fa fa-users text-aqua"></i>
                    <strong><%= notif.message %></strong> : <%= notif.notifiable.name %>
                     par <%= User.find(notif.sender_id).username %>
                  </a>
                <% else %>
                  <a href= <%= "/#{notif.notifiable_type.downcase}s/#{notif.notifiable_id}" %> >
                    <i class="fa fa-users text-aqua"></i>
                    <strong><%= notif.message %></strong> sur <%= notif.notifiable.name %>
                     par <%= User.find(notif.sender_id).username %>
                  </a>
              <% end %>
              </ul>
            </div>
        <% end %>
    </div>
</section>
