<div class="row">
  <div class="col-sm-12">
    <div id="user-block_title">
      <h1>Mes projets</h1>
    </div>
    <div class="block" id="user-block_content">
      <div class="block-content">
        <h3>Mes créations</h3>
        <%= link_to 'Créer un nouveau projet', new_project_path, class: "btn btn-info" %>
        <table class="table table-hovered">
          <thead>
            <tr>
              <th>
                Nom
              </th>
              <th>
                Catégorie
              </th>
              <th>
                Date de création
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
              <% @created_projects.each do | project |  %>
              <tr>
                <td>
                  <%= link_to project.name, project_url(project.id) %>
                </td>
                <td>
                  <%= project.category.name %>
                </td>
                <td>
                  <%= time_tag(project.created_at) %>
                </td>
                <td>
                  <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_project_path(project.id), class: "btn btn-warning" %>
                  <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, project_path(project.id), :method => 'delete', class: "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="block-content">
        <h3>Les projets que je soutiens</h3>
        <table class="table table-hovered">
          <thead>
            <tr>
              <th>
                Nom
              </th>
              <th>
                Catégorie
              </th>
              <th>
                Date de création
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
             <% @supported_projects.each do | project |  %>
              <tr>
                <td>
                  <%= link_to project.name, project_url(project.id) %>
                </td>
                <td>
                  <%= project.category.name %>
                </td>
                <td>
                  <%= time_tag(project.created_at) %>
                </td>
                <td>
                    <%= form_tag "/projects/new_support" do %>
                    <%= hidden_field_tag "id", project.id %>
                    <%= submit_tag "Ne plus soutenir" %>
                    <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="block-content">
        <h3>Les projets auxquels je participe</h3>
        <table class="table table-hovered">
          <thead>
            <tr>
              <th>
                Nom
              </th>
              <th>
                Catégorie
              </th>
              <th>
                Date de création
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <% @participated_projects.each do | project |  %>
              <tr>
                <td>
                  <%= link_to project.name, project_url(project.id) %>
                </td>
                <td>
                  <%= project.category.name %>
                </td>
                <td>
                  <%= time_tag(project.created_at) %>
                </td>
                <td>
                    <%= form_tag "/projects/new_participation" do %>
                      <%= hidden_field_tag "id", project.id %>
                      <%= submit_tag "Ne plus participer" %>
                    <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
