<!DOCTYPE html>
<html>
<head>
  <title>Meusetech</title>
  <%= stylesheet_link_tag    'application', media: 'all', data: { turbolinks: 'true' }  %>
  <%= javascript_include_tag 'application', data: { turbolinks: 'true' }  %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% #= render "partials/frontend/sidebar_left" %>
  <%= render "partials/frontend/menu" %>
  <%= render "partials/alert" %>
  <%= yield %>
  <%= render "partials/frontend/footer" %>


</body>
</html>
