<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', data: { turbolinks: 'true' }  %>
  <%= javascript_include_tag 'application', data: { turbolinks: 'true' }  %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js", "data-turbolinks-eval" => false %>
  
  <%= csrf_meta_tags %>
  <%= metamagic %>

</head>
<body>
  <% #= render "partials/frontend/sidebar_left" %>
  <%= render "partials/frontend/menu" %>
  <%= render "partials/alert" %>
  <%= yield %>
  <%= render "partials/frontend/footer" %>


</body>
</html>
